.container {
    min-height: 80vh;
    background: #0d1723;
    padding-top: 1rem;
}

.about{
    min-height: 65vh;
    display: flex;
}

.about-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.about-text h1 {
    width: 70%;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.about-text p {
    width: 70%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: white;
}

.img-section {
    width: 45%;
    overflow: hidden;
}

.img-section img {
    width: 100%;
    height: 100%;
}