nav {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    background-color: #0d1723;
    border-bottom: 2px solid orange;
}

nav h1 {
    color: white;
}

.nav-list {
    margin-left: auto;
}

.nav-list a {
    text-decoration: none;
    margin: 2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.register {
    padding: 10px 15px;
    font-weight: 600;
    background-color: #0d1723;
    color: white;
    border: 1px solid orange;
    cursor: pointer;
}

.sign-in {
    padding: 10px 15px;
    margin-left: 1rem;
    font-weight: 600;
    border: none;
    background-color: white;
    cursor: pointer;
}