nav {
    display: flex;
    align-items: center;
    padding: 1.7rem;
    background-color: black;
    border-bottom: 2px solid orange;
}

nav h1 {
    color: white;
}

.nav-list {
    margin-left: auto;
}

.nav-list a {
    text-decoration: none;
    margin: 2rem;
    color: white;
    font-weight: 500;
}

.register {
    padding: 10px 15px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.sign-in {
    padding: 10px 15px;
    margin-left: 1rem;
    font-weight: 600;
    background-color: white;
}