.banner {
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 4%;
    text-align: center;
    color: white;
    align-items: center;
}

.trusted{
    margin-right: 7rem;
    font-size: 1rem;
    font-weight: bold;
}

.banner img {
    height: 35px;
    margin: 0 1.5rem;
}